* {
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    /* flex-wrap: wrap;
    align-items: center; */

}

.box {
    width: 150px;
    height: 150px;
    background-color: blue;
    color: white;
    font-size: 30pt;
    /* Alinhamento de texto */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}